<%- include('partials/_header'); -%>


<div class="container mt-5">
    <div class="row">
      <div class="col-md-5 offset-md-3 card bg-dark">
        <div class="card-body">
          <form action="/update/<%= data.id %>" method="POST">
            <input
            type="text"
            name="propietario"
            value="<%= data.propietario %>"
            placeholder="Propietario"
            class="form-control mb-2"
            autofocus
          />

          <input
            type="text"
            name="arrendatario"
            value="<%= data.arrendatario %>"
            placeholder="Arrendatario"
            class="form-control mb-2"
            autofocus
          />

          <input
          type="text"
          id = "iban"
          name="iban"
          value="<%= data.iban %>"
          placeholder="IBAN"
          required pattern="[A-Z]{2}\d{2}[A-Z0-9]{1,30}"
          class="form-control mb-2"
          autofocus
        />

        <p id="errorMensaje" style="color: red;"></p>

        <input
        type="text"
        id = "telefono"
        name="phone"
        value="<%= data.phone %>"
        required pattern="(\+34|0034|34)?[6-9]\d{8}"
        placeholder="Telefono: +34612345678"
        class="form-control mb-2"
      />

      <p id="errorTelefono" style="color: red;"></p>

          <input
            type="email"
            name="address"
            value="<%= data.address %>""
            placeholder="E-Mail"
            class="form-control mb-2"
          />

          <input
          type="text"
          name="parcela"
          value="<%= data.parcela %>"
          placeholder="Parcela"
          class="form-control mb-2"
        />

        <input
        type="text"
        name="superficie"
        value="<%= data.superficie %>"
        placeholder="Superficie"
        class="form-control mb-2"
      />

        <input
        type="number"
        step="0.01" 
        min="0"
        name="euros"
        value="<%= data.euros %>"
        placeholder="Euros"
        class="form-control mb-2"
      />

      <input
      type="text"
      name="uso"
      value="<%= data.uso %>"
      pattern="si|no"
      placeholder="Ingresa 'si' o 'no'"
      class="form-control mb-2"
    />
            
            <button type="submit" class="btn btn-primary">Modificar</button>
          </form>
        </div>
      </div>
    </div>
  </div>

<%- include('partials/_footer'); -%>